<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Confirmation</title>
  </head>
  <body>
    <h1>
      Welcome to purwadhika, Hello
      {{name}}
      {{email}}
    </h1>

    <a href="http://localhost:3000" target="_blank">
      <button>
        visit me
      </button>
    </a>
  </body>
</html>